@page "/ViewTransactions/{index:int?}"

@model CommerceBankWebApp.Pages.ViewTransactionsModel
@using CommerceBankWebApp.Models;


@{
    Layout = "_Layout";
    ViewData["Title"] = "Add Transaction";
}

@* If we dont have an account selected to display show a list of accounts *@
@if (Model.AccountToDisplay == null)
{
    <h1 style="text-align: center">Select Account To Display</h1>
    <div class="container">
        <div class="row">
            <div style="text-align: center; margin: 0 auto" class="col-md-4 btn-margin-20 white-block round-corners btn-block">
                @for (int i = 0; i < Model.BankAccounts.Count; i++)
                {
                    <a style="color: white;" class="green-block round-corners btn btn-margin-20" href=@($"/ViewTransactions?index={i}")>@Model.BankAccounts[i].AccountType ( @Model.BankAccounts[i].AccountNumber ) </a>
                    <br />
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div style="margin: 0 auto;" class="col white-block btn-margin-20 round-corners">
            <table class="table">
                <tr>
                    <td>Account Type</td>
                    <td>Account #</td>
                    <td>Date</td>
                    <td>Balance</td>
                    <td>Deposit or Withdrawal</td>
                    <td>Amount</td>
                    <td>Description</td>
                </tr>
                @{
                    double balance = 0.0;

                    foreach (Transaction transaction in Model.AccountToDisplay.Transactions)
                    {

                        if (transaction.IsCredit) balance += transaction.Amount;
                        else balance -= transaction.Amount;

                        <tr>
                            <td>@Model.AccountToDisplay.AccountType</td>
                            <td>@Model.AccountToDisplay.AccountNumber</td>
                            <td>@transaction.ProcessingDate.ToShortDateString()</td>
                            @if (balance < 0)
                            {
                                <td class="text-danger">$@balance.ToString("0.00")</td>
                            }
                            else
                            {
                                <td>$@balance.ToString("0.00")</td>
                            }

                            @if (transaction.IsCredit)
                            {
                                <td class="text-success">Deposit</td>
                                <td class="text-success">$@transaction.Amount.ToString("0.00")</td>
                            }
                            else
                            {
                                <td class="text-danger">Withdrawal</td>
                                <td>$@transaction.Amount.ToString("0.00")</td>
                            }

                            <td>@transaction.Description</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
}
