@page "/ViewTransactions/{index:int?}"

@model CommerceBankWebApp.Pages.ViewTransactionsModel
@using CommerceBankWebApp.Models;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Add Transaction";
}

@* If we dont have an account selected to display show a list of accounts *@
@if (Model.AccountToDisplay == null)
{
    for (int i = 0; i < Model.BankAccounts.Count; i++)
    {
        <a href=@($"/ViewTransactions?index={i}")>@Model.BankAccounts[i].AccountNumber</a>
        <br />
    }
}
else
{

    <table class="table">
        <tr>
            <td>Account Type</td>
            <td>Account #</td>
            <td>Date</td>
            <td>Balance</td>
            <td>Credit or Withdrawal</td>
            <td>Amount</td>
            <td>Description</td>
        </tr>
        @{
            double balance = 0.0;

            foreach (Transaction transaction in Model.AccountToDisplay.Transactions)
            {

                if (transaction.IsCredit) balance += transaction.Amount;
                else balance -= transaction.Amount;

                <tr>
                    <td>@Model.AccountToDisplay.AccountType</td>
                    <td>@Model.AccountToDisplay.AccountNumber</td>
                    <td>@transaction.ProcessingDate.ToShortDateString()</td>
                    @if (balance < 0)
                    {
                        <td class="text-danger">$@balance.ToString("0.00")</td>
                    }
                    else
                    {
                        <td>$@balance.ToString("0.00")</td>
                    }

                    @if (transaction.IsCredit)
                    {
                        <td class="text-success">CR</td>
                        <td class="text-success">$@transaction.Amount.ToString("0.00")</td>
                    }
                    else
                    {
                        <td class="text-danger">DR</td>
                        <td>$@transaction.Amount.ToString("0.00")</td>
                    }

                    <td>@transaction.Description</td>
                </tr>
            }
        }
    </table>
}